.homepage {
  background-image: url('../../assets/images/backgrounds/homepage.jpg'); /* Adjusted path */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage h1 {
  color: white;
  font-size: 3rem;
}
